<!DOCTYPE html>
<html>
  <head>
    <title>AnimeFinder</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
      #banner {
        height: 360px;
        width: 100%;
        object-fit:cover;
        margin-bottom: 16px;
      }
    </style>
  </head>

  <body>
      {% include 'views/partials/header.html' %}
      <div class="container">
      <h1 class="text-center mt-2 mb-4">
        {{company_name}}
      </h1>

      <div class="col-md-6">
      <p class="lead">
        Welcome to {{company_name}}, the ultimate destination for anime enthusiasts around the world. Step into a vibrant, ever-expanding universe of captivating stories, stunning visuals, and boundless imagination. With a vast library of anime series and movies, {{company_name}} is your go-to streaming platform for all things anime.
          -AI Generated Text
      </p>
          <p>
              This website is a project to demostrate application development, database management and machine learning algorithms.
              It uses a database of almost 25,000 Animes from Kaggle.
              <a href="https://www.kaggle.com/datasets/dbdmobile/myanimelist-dataset">https://www.kaggle.com/datasets/dbdmobile/myanimelist-dataset</a>
          </p>
      </div>
       </div>
            {% include 'views/partials/footer.html' %}
  </body>
</html>