<!DOCTYPE html>
<html>
  <head>
    <title>AnimeFinder</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
      #banner {
        height: 360px;
        width: 100%;
        object-fit:cover;
        margin-bottom: 16px;
      }
    </style>
  </head>
  <body>
    {% include 'views/partials/header.html' %}

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for msg in messages %}
          <div class="alert alert-danger centered">{{msg}}</div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <div class="container">
      <h2 class="text-center mt-2 mb-4">All Anime in our Database</h2>
      <div class="row">
        {% for anime in animes_page.items %}
          {% include 'views/item.html' %}
        {% endfor %}
      </div>
    </div>

      <nav aria-label="Page navigation example">
                <ul class="pagination">
                    {% if animes_page.has_prev %}
                      <li class="page-item"> <a class="page-link" href="{{ url_for('all_anime_page', page_num=animes_page.prev_num) }}">Previous</a></li>
                    {% else %}
                      <li class="page-item"><a class="page-link btn disabled" href="#">Previous</a></li>
                    {% endif %}

     {% for page in animes_page.iter_pages(left_edge=3, right_edge=3) %}
     {% if page %}

      {% if page==animes_page.page %}
       <li class="page-item active"><a class="page-link" href="{{ url_for('all_anime_page', page_num=page) }}">{{ page }}</a></li>
      {% else %}
       <li class="page-item"><a class="page-link" href="{{ url_for('all_anime_page', page_num=page) }}">{{ page }}</a></li>
      {% endif %}

     {% else %}
      <li class="page-item disabled" id="example_ellipsis"><a href="#" class="page-link">…</a></li>
     {% endif %}
     {% endfor %}

                    {% if animes_page.has_next %}
                      <li class="page-item"> <a class="page-link" href="{{ url_for('all_anime_page', page_num=animes_page.next_num) }}">Next</a></li>
                    {% else %}
                      <li class="page-item"><a class="page-link btn disabled" href="#">Next</a></li>
                    {% endif %}

                </ul>
    </nav>

    {% include 'views/partials/footer.html' %}
  </body>
</html>
