<!DOCTYPE html>
<html>
  <head>
    <title>AnimeFinder</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <style>
      #banner {
        height: 360px;
        width: 100%;
        object-fit:cover;
        margin-bottom: 16px;
      }
    </style>
  </head>

  <body>
    {% include 'views/partials/header.html' %}

    <div class="container">
      <h1 class="text-center mt-2 mb-4">
        {{anime['name']}}
      </h1>
      <h2>{{anime['english_name']}} {{anime['other_name']}}</h2>

    <div class="col-10">
    <div>
      <b>Description:</b><p>{{anime['synopsis']}}</p>
      <b>Genre:</b><p>{{anime['genres']}}</p>
      <b>Type:</b><p>{{anime['type']}}</p>
      <b>Score:</b><p>{{anime['score']}}</p>
    </div>
    {% if 'image' in anime %}
    <div class = "border-bottom">
      <img src="{{anime['image']}}" alt="{{anime['anime_id']}}" width="400" height="300">
    </div>
    {% endif %}
<p>If you like {{anime['name']}} you may like these Animes</p>

    <div>
        {% for anime in recommended %}
          {% include 'views/item.html' %}
        {% endfor %}
    </div>

  </div>

    </div>
    {% include 'views/partials/footer.html' %}
  </body>
</html>
